    @import "./variables";
    @import "./utils";
    /*
About Page styling is here because it has lots of animation styles
*/
    
    .about-wrapper {
        margin: 0 auto -2.8rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .about-text {
        color: $white;
        margin: .5rem 0 0 4rem;
        p {
            padding: .5rem 1.2rem;
            word-wrap: break-word;
        }
        span {
            text-align: center;
            display: inline-block;
            font-size: 3rem;
            font-weight: 900;
            margin: .2rem;
            &:nth-child(6) {
                margin: 0 0 0 .5rem;
            }
            &:nth-child(7) {
                margin: 0 0 0 .5rem;
            }
        }
        &-title {
            text-align: center;
            span {
                // text-align: center;
                // display: inline-block;
                // font-size: 3rem;
                // font-weight: 900;
                // margin: .2rem;
                transform: translate(-160px, 0) scale(0.4);
                animation: animate 1s forwards;
                &:nth-child(2) {
                    animation-delay: 0.05s;
                }
                &:nth-child(3) {
                    animation-delay: 0.1s;
                }
                &:nth-child(4) {
                    animation-delay: 0.15s;
                }
                &:nth-child(5) {
                    animation-delay: 0.2s;
                    margin: 0 0.9rem 0 0;
                }
                &:nth-child(6) {
                    animation-delay: 0.25s;
                    margin: 0 0 0 .5rem;
                }
                &:nth-child(7) {
                    animation-delay: 0.3s;
                    margin: 0 0 0 .5rem;
                }
            }
        }
    }
    
    @keyframes animate {
        40% {
            transform: translate(50px, 0) scale(.7);
            opacity: 1;
            color: #fff;
        }
        60% {
            color: wheat;
        }
        80% {
            transform: translate(0) scale(2);
            opacity: 0;
        }
        100% {
            transform: translate(0) scale(1);
        }
    }
    
    .about-emphasis {
        position: relative;
        height: 20rem;
        width: 27rem;
        left: 15%;
        span {
            font-style: italic;
            text-align: center;
            color: $white;
            position: absolute;
            top: 60%;
            left: 20%;
        }
        &-text {
            h4 {
                position: absolute;
                color: $white;
                left: 40%;
                margin: 0 auto;
                transform: translate(-20%, 10%);
                letter-spacing: .4rem;
                font-size: 8rem;
                &:nth-child(1) {
                    color: transparent;
                    -webkit-text-stroke: 2px $primary;
                }
                &:nth-child(2) {
                    color: $primary;
                    -webkit-text-stroke: 2px $primary;
                    animation: animateword 4s ease-in-out infinite;
                    transition: all 1s linear;
                }
            }
        }
    }
    
    @keyframes animateword {
        0%,
        100% {
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }
        50% {
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
    }