@import "./mixixns";
@media (max-width: 1142px) {
  .content {
    &:nth-child(1) {
      margin: 3.5rem 1rem;
      padding: 0.5rem;
    }
    &-image {
      display: none;
    }
  }
}

@media (max-width: 1101px) {
  .home {
    .about-wrapper {
      grid-template-columns: 1fr;
    }
    .about-emphasis {
      height: 15rem;
      width: 20rem;
      span {
        top: 40%;
      }
    }
    .about-text {
      margin: 0.3rem auto;
      &-title {
        span {
          font-weight: 2rem;
        }
      }
    }
    .about-emphasis-text {
      h4 {
        font-size: 4rem;
        @include PositionCenter(20%, 50%, absolute);
      }
    }
  }
  .sectionA {
    grid-template-columns: 1fr !important;
    .sectionA-list {
      .music-list {
        .wrapper {
          width: 80%;
        }
      }
    }
  }
  .form {
    grid-template-columns: 1fr !important;
    padding: 3rem 0;
    margin: 2rem 0 !important;
    &-image {
      display: none;
    }
    .form-field {
      width: 90%;
    }
  }
  .admin-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    // margin: .5rem 1rem;
    // div {
    //     margin: .6rem;
    //     // box-shadow: 2px 2px 3px 4px $box-shadow;
    //     &:nth-child(3) {
    //         grid-column: 3/4;
    //         grid-row: 1/3;
    //     }
    // }
  }
}

@media (max-width: 768px) {
  .header {
    &-logo {
      padding: 0.3rem;
      img {
        height: 5rem !important;
        width: 5rem !important;
      }
    }
  }
  .content {
    &:nth-child(1) {
      margin: 5.5rem 1rem;
      padding: 0.5rem;
    }
    &-image {
      display: none;
    }
  }
  .header {
    .header-nav {
      display: none;
    }
    .menu {
      display: block;
    }
    .small-btn {
      color: $white;
      margin: 1.3rem 5rem 0 0rem;
      cursor: pointer;
    }
    .show-search {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }
    .header-search {
      @include PositionCenter(17%, 50%, absolute);
      align-items: center;
      margin: auto;
      transition: all 0.2s ease-out;
      background-color: $primary;
      input {
        padding: 1.6rem 7rem;
        background-color: transparent;
        // color: $black !important;
        // width: 100% !important
      }
    }
  }
  .sectionA {
    grid-template-columns: 1fr !important;
    .wrapper {
      width: 80%;
    }
  }
  .subscribe {
    h5 {
      font-size: 1.2rem;
    }
    &-search {
      width: 80% !important;
    }
  }
  .cardGrid {
    flex-wrap: wrap-reverse;
  }
  .view-event {
    grid-template-columns: 1fr !important;
  }
  .admin-home {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .eventCard {
    // display: none;
    width: 100% !important;
    padding: 0;
  }
}
