@import './mixixns';
@media(max-width:1142px) {
    .content {
        &:nth-child(1) {
            margin: 3.5rem 1rem;
            padding: .5rem;
        }
        &-image {
            display: none;
        }
    }
}

@media(max-width:1101px) {
    .sectionA {
        grid-template-columns: 1fr !important;
        .sectionA-list {
            .music-list {
                .wrapper {
                    width: 80%;
                }
            }
        }
    }
    .form {
        grid-template-columns: 1fr !important;
        padding: 3rem 0;
        margin: 2rem 0 !important;
        &-image {
            display: none;
        }
        .form-field {
            width: 90%;
        }
    }
    // .view-event {
    //     grid-template-columns: 1fr !important;
    // }
}

@media(max-width:768px) {
    .content {
        &:nth-child(1) {
            margin: 3.5rem 1rem;
            padding: .5rem;
        }
        &-image {
            display: none;
        }
    }
    .header {
        .header-nav {
            display: none;
        }
        .menu {
            display: block;
        }
        .small-btn {
            color: $white;
            margin: 1.3rem 5rem 0 0rem;
            cursor: pointer;
        }
        .show-search {
            visibility: hidden;
            opacity: 0;
            transition: opacity .4s ease-in;
        }
        .header-search {
            @include PositionCenter(17%, 50%, absolute);
            align-items: center;
            margin: auto;
            transition: all .2s ease-out;
            // background-color: black;
            input {
                padding: 1.3rem 7rem;
            }
        }
    }
    .sectionA {
        grid-template-columns: 1fr !important;
        .wrapper {
            width: 80%;
        }
    }
    .subscribe {
        // display: none;
        &-search {
            width: 60% !important;
        }
    }
    .cardGrid {
        flex-wrap: wrap-reverse;
    }
    .view-event {
        grid-template-columns: 1fr !important;
    }
}