@import './variables';
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: $bg-color;
    // overflow-x: hidden;
}

.btn {
    background-color: $primary;
    border: none;
    padding: .8rem 2.8rem;
    border-radius: .2rem;
    color: $white;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
    &:active {
        transform: translateY(4px);
        // box-shadow: 2px 2px 2px 1px #ccc;
        ;
    }
    &:hover {
        transform: translateY(-4px);
        // background-color: blue;
    }
}