//***Website color**//
$bg-color:#000;
// $primary:rgb(143, 0, 0);
$primary:#ff3e3e;
$white:#fff;
$black:#0000;
$light:#4949493b;
// $gray:rgb(17, 15, 15);
$gray:#141313;
$box-shadow:rgba(0, 0, 0, 0.05);