//***Website color**//
$bg-color: #000;
$primary: #e20000;
$white: #fff;
$black: #0000;
$light: #4949493b;
$theme-light: #f5f5f5;
$gray2: #f29c1f;
$gray: #141313;
$box-shadow: rgba(0, 0, 0, 0.05);
$box-shadow2: -1px 2px 5px 2px #ccc;

// card headings..
$x-large: 2.5rem;
$m-font: 1.5rem;
$sm-font: 1rem;

//info titles
$title-md: 1.2rem;
$title-sm: 1rem;
$title-lg: 2rem;
