@import './utils';
@import './variables';
@import './media';
@import './mixixns';
//***Header-section****//
.header {
    display: flex;
    justify-content: space-between;
    &-logo {
        margin: -1.6rem 0;
        img {
            height: 9rem;
            width: 9rem;
        }
    }
    &-nav {
        display: flex;
        margin: 2rem 3rem;
    }
    &-search {
        @include DisplayFlex(row, nowrap);
        margin: 1.2rem 1rem 0 -4rem;
        background-color: $gray;
        border-radius: .2rem;
        padding: .2rem 1rem;
        height: 2.4rem;
        width: 25%;
        input {
            border-radius: .2rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: .3rem 3rem;
            height: 2rem;
            border: none;
            outline: none;
            margin: 0 0 0 -.9rem;
            width: 100%;
            opacity: .9;
            &:focus {
                border: $primary 1px solid;
            }
        }
        span {
            color: $white;
            background-color: $primary;
            padding: .7rem 1rem;
            border-radius: .3rem;
            margin: 0 -1rem 0 0rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            cursor: pointer;
        }
    }
}

.navbar {
    position: relative;
    ul {
        display: flex;
        li {
            list-style: none;
            margin: 0 2rem;
            a {
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                &:hover {
                    background-color: $primary;
                    padding: .6rem;
                    transition: all .2s ease-out;
                    transform: scale(1.5);
                }
            }
        }
    }
}

.content {
    @include DisplayFlex(row, wrap);
    margin: -2rem 0 0 0;
    &:nth-child(1) {
        h1 {
            color: $white;
            font-size: 3rem;
            word-wrap: break-word;
            margin: 0 0 .7rem 0;
        }
        p {
            color: $white;
            word-break: break-all;
            margin: 0 0 3rem 0;
        }
        a {
            // margin: 2rem 0 0 0;
        }
    }
    &-image {
        margin: 0 -5rem 0 5rem;
        img {
            height: 30rem;
            width: 40rem;
        }
    }
}